<div class="container m-2">
    <div class="form-horizontal">
        <fieldset>
            <div style="display: inline-block; width: 20%; vertical-align: top;">
                <app-navbar></app-navbar>
            </div>
            <div style="display: inline-block; width: 5%; vertical-align: top;"></div>
            <div style="display: inline-block; width: 75%; vertical-align: top;">
                <div class="main text-center">
                    <div class="titulo">
                        <h1>Servitaxi los colores</h1>
                    </div>
                    <br>
                    <img mat-card-image style="width: 500px; height: 500px;" src="../assets/imagenes/taxi.png" alt="Photo of a Shiba Inu">
                </div>
            </div>
        </fieldset>
    </div>
</div>