footer {
  background-color: rgb(0, 0, 0);
}

.container{
    display: flex;
    justify-content: space-between;
    max-height: 63px;
    padding: 20px;
}
label {
  color: #ffc107;
}

.notificacion {
  grid-column: span 3 / auto;
  display: grid;
  justify-content: end;
  margin-right: 38px;
}

a {
  color: #ffc107;

}

.btn {
  margin-left: 11px;
}
