<footer>
  <img class="stylesLogo" src="../../../../assets/imagenes/logo.png">
  <a href="#soporteModal"data-toggle="modal"
    data-target="#terminosCondicionesModal" id="aa42afe2-c354-4433-99c5-6e00db09bdc7">Terminos y Condiciones</a>
  <div class="notificacion">
    <label id="2b9cb33a-cf0d-4a56-a53f-c25ec64de6fb">Recibir notificaciones de nuestras ofertas.</label>
    <span id="basic-addon1">
      <input placeholder="Correo Electronico" id="73a8e7e2-22b8-4a71-883b-1b8ac118efc0" />
    </span>
    <button type="button" class="btn btn-outline-warning" id="6c6159c4-ecae-4aed-8f90-7f3edf3bc785">Suscribirse</button>
  </div>
  <div class="footer-copyright text-center py-3">© {{year}} Copyright</div>
</footer>

<div class="modal fade" id="terminosCondicionesModal" tabindex="-1" role="dialog"
  aria-labelledby="5b2cfcab-7af7-4c45-921d-4549c2d27d58" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="5b2cfcab-7af7-4c45-921d-4549c2d27d58">Terminos y Condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          id="59e47f1c-a71e-4ae4-bd98-0b0f841d186b">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade soporteModal" tabindex="-1" role="dialog" aria-labelledby="soporteModal" aria-hidden="true"
  id="02c0fdf7-2c7e-4ec9-8635-500fad50bf4b">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="02c0fdf7-2c7e-4ec9-8635-500fad50bf4b">Modal Soporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          id="9d082f57-a85e-4368-9247-72bf9fc37983">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          id="c462bc3c-ac9d-421a-9c1b-af2a60c91c88">Close</button>
      </div>
    </div>
  </div>
</div>
