<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <!-- <div class="container-fluid text-center text-md-left"> -->
    <div class="container">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-2 mt-md-0 mt-2">

        <!-- Content -->
        <h5 class="text-uppercase">Logo</h5>

      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-2">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-2">

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Usuario</a>
          </li>
          <li>
            <a href="#!">Principal</a>
          </li>
          <li>
            <a href="#!">Taxis</a>
          </li>
          <!-- <li>
            <a href="#!">Link 4</a>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Historia</a>
          </li>
          <li>
            <a href="#!">Contacto</a>
          </li>
          <li>
            <a href="#!">Soporte</a>
          </li>
          <li>
            <a href="#!">Terminos y Condiciones</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 mb-md-0 mb-5">
        <label>Recibir notificaciones de nuestras ofertas.</label>
        <input placeholder="Correo Electronico"/>
        <br>
        <button type="button" class="btn btn-dark">Suscribirse</button>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->