<div class="main">
    <div class="titulo">
      <h1>Servitaxi los colores</h1>
    </div>
  
    <div class="menus">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="subtitulos">Usuarios</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/imagenes/user.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-header>
          <mat-card-title>Acopio</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/imagenes/acopio.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Taxis</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/imagenes/taxi.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="buttons">
      <button mat-stroked-button color="primary" class="login" [routerLink]="[ '/sesion' ]">
        Ingresar
        </button>
    </div>
  </div>