<div class="container">
  <div class="titulo row">
    <img src="../../../assets/imagenes/taxi-frontal.png">
    <h3>Registrar Taxis</h3>
  </div>
  <form #taxiForm="ngForm">
    <div class="usuario">
      <label>Datos del taxi</label>
      <div class="row">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Placa" id="42a835de-8a87-4077-92fd-3d80b650531b"
            name="placa" value="placa" required [(ngModel)]="placa">
        </div>
        <div class="col-2">
          <button class="btn" id="cc04a459-a088-487b-8df7-e77b9c540e57" name="btnBuscar" (click)="buscarTaxi(taxiForm)">
            <img src="../../../assets/imagenes/lupa.png">Buscar
          </button>
        </div>

        <div class="col-6">
          <input type="text" class="form-control" placeholder="Modelo" id="17201448-cb9c-49e7-849e-8d39e8c6973b"
            name="modelo" value="modelo" required [(ngModel)]="modelo">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Número de SOAT" id="3cae0de1-7929-4bfc-9aa5-885f5fa1b9a9"
            name="num_soat" value="num_soat" required [(ngModel)]="num_soat">
          <!-- <button class="btnArchivos">
            <img src="../../../assets/imagenes/subir.png">
          </button> -->
        </div>
        <div class="col">
          <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Fecha de vencimiento SOAT"
            id="a5b1553b-c9ef-4076-8e6f-a0b2e708d980" name="fecha_venc_soat" value="fecha_venc_soat" required
            [(ngModel)]="fecha_venc_soat">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Número de control de tecnomecánica"
            id="fa1feb4f-536f-4968-bb1d-a19224ba76b4" name="num_tecnomecanica" value="num_tecnomecanica" required
            [(ngModel)]="num_tecnomecanica">
          <!-- <button class="btnArchivos">
            <img src="../../../assets/imagenes/subir.png">
          </button> -->
        </div>
        <div class="col">
          <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Fecha de vencimiento de tecnomecánica"
            id="afb578f0-479b-4b5a-92d1-d3b69e949177" name="fecha_venc_tecnomecanica" value="fecha_venc_tecnomecanica"
            required [(ngModel)]="fecha_venc_tecnomecanica">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Número de seguro contractual"
            id="7dfa2a28-a23e-434a-bef5-59cc88b434d4" name="num_seguro_contractual" value="num_seguro_contractual"
            required [(ngModel)]="num_seguro_contractual">
          <!-- <button class="btnArchivos">
            <img src="../../../assets/imagenes/subir.png">
          </button> -->
        </div>
        <div class="col">
          <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Fecha de seguro contractual"
            id="33c9d8ec-b03b-4cc7-844d-51ed2c504337" name="fecha_venc_seguro_contractual"
            value="fecha_venc_seguro_contractual" required [(ngModel)]="fecha_venc_seguro_contractual">
        </div>
      </div>
    </div>
    <label>Datos del propietario</label>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre y Apellidos"
          id="fbae22d8-f697-4e32-847b-5720ec22aa97" name="nombre_apellidos" value="nombre_apellidos" required
          [(ngModel)]="nombre_apellidos">
      </div>
      <div class="col">
        <input list="tipoDocumento" type="text" class="form-control" name="tipo_documento"
          id="71bcc55b-2820-48b5-add0-dd02277d4bbf" placeholder="Tipo de Documento" required
          [(ngModel)]="tipo_documento">
        <datalist id="tipoDocumento">
          <option value="Cédula de ciudadanía"></option>
          <option value="Cédula de extranjería"></option>
          <option value="Otro"></option>
        </datalist>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Cédula" id="7973238d-de9a-4563-89c0-de197dcb9be3"
          name="cedula" value="cedula" required [(ngModel)]="cedula">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Correo" id="4f5a259a-dab0-40b8-8c1b-329e436edf38"
          name="correo" value="correo" required [(ngModel)]="correo">
      </div>
    </div>
    <label>Conductores</label>
    <div class="row">
      <div class="col">
        <input type="search" class="form-control" placeholder="Número de cédula" id="f7f37994-5555-467a-b333-2a671c3664df"
          name="cedulaC" value="cedulaC" required [(ngModel)]="filtro">
      </div>
      <div class="col">
        <button class="btn" (click)="applyFilter(cedula)">
          <img src="../../../assets/imagenes/lupa.png">
          Buscar
        </button>
      </div>
    </div>
    <div class="scrollit">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Celular</th>
            <th scope="col">Categoria de Licencia</th>
            <th scope="col">Fecha de Vencimiento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conductor of conductores; index as i" ng-repeat="conductor in conductores | filter:filtro as resultado">
            <td>{{i+1}}</td>
            <td>{{conductor.cedula}}</td>
            <td>{{conductor.nombres | uppercase}}</td>
            <td>{{conductor.apellidos | uppercase}}</td>
            <td>{{conductor.numero_celular}}</td>
            <td>{{conductor.categoria | uppercase}}</td>
            <td>{{conductor.fecha_venc_licencia | date:'dd/MM/yyyy'}}</td>
            <td>
              <button (click)="agregarConductores(conductor)" class="acciones" [disabled]="conductor.disabled">
                <img src="../../../assets/imagenes/anadir.png">
              </button>
              <button (click)="eliminar(i+1)" class="acciones">
                <img src="../../../assets/imagenes/cancelar.png">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" style="text-align: right">
      <button class="btn" (click)="GuardarTaxi(taxiForm)">
        <img src="../../../assets/imagenes/guardar.png">
        Guardar
      </button>
    </div>
  </form>
</div>
