.container {
    background-color: #EEEEE3;
    border-radius: 16px;
  }
  
  .titulo {
    padding: 15px;
    justify-content: center;
  }
  
  img {
    width: 5%;
    height: 5%;
  }
  
  form{
    border-radius: 16px;
    padding: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn {
    background-color: #FFDB00;
    padding: 3px;
    border-radius: 16px;
  }
  
  .btn img {
    width: 25%;
    height: 25%;
  }
  
  .col {
    margin: 3px;
  }
  .btnArchivos img{
    width: 50%;
    height: 50%;
  }
  .btnArchivos{
      background-color: transparent;
      border: none;
  }
  .acciones{
    background-color: transparent;
    border: none;
  }
  .acciones img{
    width: 50%;
    height: 50%;
  }