.container {
    background-color: #EEEEE3;
    border-radius: 16px;
    margin: 10px;
}

.modulos {
    display: flex;
}

.form-control {
    flex-wrap: wrap;
}

label {
    text-align: center;
}

.btn {
    margin: 10px;
    background-color: #ffdb00;
}

.button {
    text-align: right;
}