.container {
    border-radius: 16px;
 
  }
  .tarjetas{
    display: flex;
    flex-wrap: wrap;

  }
  .titulo {
    padding: 15px;
    justify-content: center;
  }
  
  img {
    width: 4%;
    height: 4%;
  }

.grid {
  margin: 0}

.module {
  margin: 5px;
  padding: 12px;
  text-align: justify;
  color: #000000;
  background-color: #eef07c88;
  border-radius: 9px;
  max-width: 310px;
  min-width: 175px;

}
