<div class="container">
  <div class="titulo row">
      <h3>Lista de Taxis</h3>
  </div>

  <div class="card-columns m-5 animated fadeIn">
      <div *ngFor="let taxi of taxisList" class="card puntero">
          <div class="card-body">
              <h4 class="card-title">{{ taxi.placa }}</h4>
              <h5 class="card-title">{{ taxi.nombre_apellidos }}</h5>
              <h5 class="card-title">{{ taxi.correo }}</h5>
              <h5 class="card-title">{{ taxi.cedula }}</h5>
          </div>
      </div>
  </div>
</div>