<div class="container">
  <div class="titulo row">
        <img src="../../../assets/imagenes/taxi-frontal.png">
    <h3>Taxis Registrados</h3>
  </div>

<div class="tarjetas">
  <div *ngFor="let taxi of taxisList" >
    <div class="module">
      <label>Placa: {{ taxi.placa }}</label>
      <br>
      <label>Habilitado: {{ taxi.habilitado }}</label>
      <br>
      <label>Fecha Vencimiento SOAT: {{ taxi.fecha_venc_soat | date:'dd/MM/yyyy'}}</label>
      <br>
      <label>Fecha Vencimiento TC: {{ taxi.cedula }}</label>
      <br>
      <label>Fecha Vencimiento S.C: {{ taxi.num_seguro_contractual | date:'dd/MM/yyyy' }}</label>
    </div>
  </div>
</div>
</div>
