.container {
    border-radius: 16px;
  }
  
  .titulo {
    padding: 15px;
    justify-content: center;
  }
  
  img {
    width: 4%;
    height: 4%;
  }

  [class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.grid {
  margin: 0}

.col-1-4 {
  width: 35%}

.module {
padding: 20px;
text-align: center;
color: #000000;
background-color: #eef07c88;
border-radius: 16px;}
