<div class="container">

  <div class="titulo row">
    <img src="../../../assets/imagenes/usuarios-multiples-en-silueta.png">
    <h3>Registro de usuarios</h3>
  </div>

  <form>
    <div class="usuario">
      <label>Datos personales</label>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Apellidos">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown">Tipo de documento
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item">Cédula de ciudadanía</a>
            <a class="dropdown-item">Cédula de extranjería</a>
            <a class="dropdown-item">Otro</a>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Número de documento">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="date" class="form-control" placeholder="Fecha de nacimiento">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Dirección">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="tel" class="form-control" placeholder="Número fijo">
        </div>
        <div class="col">
          <input type="tel" class="form-control" placeholder="Número ceular">
        </div>
      </div>
    </div>
    <div class="taxi">
      <label>Datos de inicio de sesión</label>
      <div class="row">
        <div class="col">
          <button class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Rol de usuario
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Administrador</a>
            <a class="dropdown-item">Operario</a>
            <a class="dropdown-item">Conductor</a>
          </div>
        </div>
        <div class="col">
          <input type="email" class="form-control" placeholder="Correo electrónico">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre de usuario">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
      </div>
      <div class="row">
        <div class="col">
        
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirmación contraseña">
        </div>
      </div>
    </div>
    <div class="col" style="text-align: right">
      <button class="btn">
        <img src="../../../assets/imagenes/guardar.png">
        Agregar
      </button>
      <button class="btnCancelar">
        <img src="../../../assets/imagenes/cancelar.png">
        Cancelar
      </button>

    </div>
  </form>
</div>
